body.home {
  > main {
    > .section > h2 {
      @extend .section-title;
    }

    > .news {
      .items {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: stretch;
        overflow-y: auto;
      }
      .news-item-card {
        flex-basis: 20em;
        max-width: 90vw;
        border-radius: .5em;
        padding: 0 .75em;
        border: 1px solid #f0f0f0;
        margin-right: 1em;

        .title {
          font-weight: normal;
          a {
            text-decoration: none;
          }
        }

        div.excerpt p {
          font-size: 90%;
          line-height: 1.6;
        }
      }
    }
  }
}
