@import url('https://fonts.googleapis.com/css?family=Tienne:400,700');

$bodyFontFamily: Helvetica, sans-serif;
$bigscreenBreakpoint: 900px;
$logoOffset: 112px;
$logoSize: 100px;

$isoTCColor: #0f6db3;
$textColor: black;

$warningColor: red;
$importantColor: orange;
$accentColor: $isoTCColor;

$codeListingBorderColor: silver;

$mainShadowColor: rgba(black, 0.4);
$headerFooterBackgroundColor: rgba(black, 0.05);
$mainSectionBackgroundColor: rgba(white, 0.8);

$linkColor: $isoTCColor;
$linkColorInverse: white;

$homeSectionItemSidePadding: 1em;

@mixin titleFontFamily($useBold: false) {
  font-family: 'Tienne', Georgia, serif;

  @if $useBold == true {
    font-weight: 700;
  } @else {
    font-weight: 400;
  }
}

@import 'normalize';

body {
  font-family: $bodyFontFamily;
}

a {
  &:link, &:visited, &:hover {
    color: inherit;
  }
}
main a {
  &:link, &:visited, &:hover {
    color: $linkColor;
  }
}

input, textarea, button {
  font-size: inherit;
  font-family: inherit;
}

html {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
}

.section-title {
  font-size: 18px;
  text-transform: uppercase;
  flex-shrink: 0;
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
}

@import 'adoc-markup';
@import 'offsets';
@import 'main';
@import 'home';
@import 'post';
