// Main layout
// ===========

body > main {
  font-size: 18px;
  @include asciidoc-markup();
}

body > header,
body > main > section,
body > main > .section {
  padding-top: 1em;

  > h2 {
    @extend .section-title;
  }
}

body > main,
body.home > main > section,
body.home > main > .section {
  background: $mainSectionBackgroundColor;
}

body.home > main {
  background: transparent;
}

body {
  $footerLogoSize: 60px;
  $footerH: $footerLogoSize + 20px;
  $footerPoweredByLogoWidth: 100px;

  flex: 1;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  margin-bottom: -$footerH;

  background: linear-gradient(90deg, $isoTCColor 30px, transparent 20px);

  > .awards {
    color: grey;
    margin: 0;
    padding: 1em 15vw;
    background: rgba(black, 0.1);
    font-size: 80%;

    .icon {
      margin-right: 1em;
    }
  }

  > footer {
    flex-shrink: 0;
    font-size: 90%;
    line-height: 1.6;

    background: $headerFooterBackgroundColor;;
    box-shadow: 0 5px 20px -10px $mainShadowColor inset;

    padding-top: 1em;

    .logo {
      width: $footerLogoSize + 12px;
      margin-left: 0;
      display: inline-block;

      img {
        width: $footerLogoSize;
        height: $footerLogoSize;
        vertical-align: middle;
      }
    }

    .powered-by {
      flex: 1;
      width: $logoOffset;

      .powered-by-text {
        font-size: 0.5em;
        text-transform: uppercase;
        font-weight: 600;
        display: block;
      }

      img {
        width: $footerPoweredByLogoWidth;
        display: block;
      }
    }

    .legal {
      white-space: nowrap;
      display: inline-block;
    }

    ul[role=nav] {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-flow: row wrap;

      li {
        margin-left: 1em;
        white-space: nowrap;
        &:first-child {
          margin-left: 0;
        }
      }
    }

    @media screen and (min-width: $bigscreenBreakpoint) {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-end;

      height: $footerH;
      padding-top: 0;

      .powered-by {
        margin-left: 2em;
      }
    }
  }

  > header {
    flex-shrink: 0;
    padding-top: .5em;
    padding-bottom: .5em;

    background: $headerFooterBackgroundColor;
    box-shadow: 0 -5px 20px -10px $mainShadowColor inset;

    .site-headline {
      margin: 0;
      padding: 0;
      font-size: 100%;
      font-weight: normal;

      .parent-org-reference {
        display: none;

        flex-flow: column nowrap;
        justify-content: space-between;
        width: $logoOffset;

        .logo-link {
          height: $logoOffset;
          width: $logoOffset;
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          justify-content: center;

          img {
            display: block;
            height: $logoSize;
            width: $logoSize;
          }
        }
      }
      .site-title {
        flex: 1;
        display: flex;
        flex-flow: column nowrap;

        .title {
          @include titleFontFamily(false);

          font-size: 170%;
          margin: 0;
          margin-bottom: .5em;
          margin-left: -.12em;  // Visual alignment of capital G
          letter-spacing: -.04em;

          a {
            text-decoration: none;
            color: $textColor;
          }
        }

        .committee-widget {
          flex: 1;

          display: flex;
          flex-flow: row nowrap;

          font-size: 80%;
          line-height: 1.5;
          margin: 3.3em 0 0 0;
          padding-bottom: 1.5em;
          height: 1.5em;

          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          text-decoration: none;

          &:link, &:visited {
            color: white;
          }

          .committee-id, .committee-name {
            padding: .3em .6em;
            box-shadow: 1px 1px 2px rgba(black, 0.1);
            height: 100%;
          }

          .committee-id {
            padding-left: .8em;
            // Corrects visual padding inconsistency of unclear origin

            background: black;
            border: 1px solid black;
            font-weight: bold;
          }
          .committee-name {
            background: $isoTCColor;
            border: 1px solid $isoTCColor;
            margin-left: 2px;
          }
        }
      }

      ul[role=nav] {
        align-self: flex-end;

        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        margin: 0 0 0 .4em;
        padding: 0 0 1em 0;
        list-style: none;

        line-height: 1.6;

        li {
          margin: 0 0 0 1em;
          padding: 0;
          a {
            text-decoration: none;
            font-weight: bold;
          }
        }
      }

      @media screen and (min-width: $bigscreenBreakpoint) {
        display: flex;
        flex-flow: row nowrap;

        .parent-org-reference {
          display: flex;
        }
      }
    }

    @media screen and (max-width: $bigscreenBreakpoint) {
      .site-headline {
        .parent-org-reference .logo-link img {
          visibility: hidden;
        }
      }
    }
  }

  > main {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column nowrap;
    line-height: 1.6;
    padding-bottom: 1em;
  }
}
