// Asciidoctor-generated markup
// ============================

body > main {
  .admonitionblock {
    margin-bottom: 1em;

    td.icon {
      vertical-align: top;
      padding-right: 1em;
      font-weight: bold;
    }
    .content {
      word-break: break-word;
    }
  }
  .paragraph code {
    word-break: break-word;
  }
}


// Main layout
// ===========

body > header,
body > main > section,
body > main > .section {
  padding-top: 1em;

  > h2 {
    @extend .section-title;
  }
}

body {
  $footerH: $logoSize + 20px;

  flex: 1;

  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  margin-bottom: -$footerH;

  > footer {
    flex-shrink: 0;
    font-size: 90%;
    line-height: 1.6;

    background: whitesmoke;
    box-shadow: 0 5px 20px -10px silver inset;

    padding-top: 1em;

    @media screen and (min-width: $bigscreenBreakpoint) {
      height: $footerH;
      padding-top: 0;
    }

    .logo {
      width: $logoOffset;
      margin-left: 0;
      display: inline-block;

      img {
        width: $logoSize;
        height: $logoSize;
        vertical-align: middle;
      }
    }

    .powered-by {
      flex: 1;
      width: $logoOffset;

      .powered-by-text {
        font-size: 0.5em;
        text-transform: uppercase;
        font-weight: 600;
        display: block;
      }

      img {
        width: $logoSize;
        display: block;
      }
    }

    .legal {
      white-space: nowrap;
      display: inline-block;
    }

    ul[role=nav] {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-flow: row wrap;

      li {
        margin-left: 1em;
        white-space: nowrap;
        &:first-child {
          margin-left: 0;
        }
      }
    }

    @media screen and (min-width: $bigscreenBreakpoint) {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-end;

      > * {
        margin-left: 2em;
      }
    }
  }

  > header {
    flex-shrink: 0;
    background: whitesmoke;
    margin-bottom: 1em;
    padding-top: 0;
    padding-bottom: .5em;

    box-shadow: 0 -5px 20px -10px silver inset;

    .site-headline {
      .parent-org-reference {
        display: none;

        flex-flow: column nowrap;
        justify-content: space-between;
        width: $logoOffset;

        .logo-link {
          height: $logoOffset;
          width: $logoOffset;
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          justify-content: center;

          img {
            display: block;
            height: $logoSize;
            width: $logoSize;
          }
        }
      }
      .site-title {
        flex: 1;
        display: flex;
        flex-flow: column nowrap;

        h1 {
          @include titleFontFamily(true);

          font-size: 170%;
          margin: 0;
          margin-top: 1.4em;
          margin-bottom: .2em;
          margin-left: -.12em;  // Visual alignment of capital G
          letter-spacing: -.03em;

          a {
            text-decoration: none;
            color: $textColor;
          }
        }

        p {
          margin: 0;
          line-height: 1.6;
          padding-bottom: 1em;
          flex: 1;

          .committee {
            white-space: nowrap;
          }
        }
      }

      ul[role=nav] {
        align-self: flex-end;

        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        margin: 0 0 0 .4em;
        padding: 0 0 1em 0;
        list-style: none;

        line-height: 1.6;

        li {
          margin: 0 0 0 1em;
          padding: 0;
          a {
            text-decoration: none;
            font-weight: bold;
          }
        }
      }

      @media screen and (min-width: $bigscreenBreakpoint) {
        display: flex;
        flex-flow: row nowrap;

        .parent-org-reference {
          display: flex;
        }
      }
    }

    @media screen and (max-width: $bigscreenBreakpoint) {
      .site-headline {
        .parent-org-reference .logo-link img {
          visibility: hidden;
        }
      }
    }
  }

  > main {
    flex: 1 0 auto;
    display: flex;
    flex-flow: column nowrap;
    line-height: 1.6;
    padding-bottom: 1em;
  }
}
